<template>
    <div>
        <v-select  placeholder="Country" v-model="Country"  :options="Countries"></v-select> <br>
        <v-select  placeholder="State" v-model="State"    :options="States"></v-select> <br>
        <v-select  placeholder="City" v-model="City"        :options="Cities"></v-select> <br>
        <input  type="hidden" name="country_id" :value="CountryId">
        <input  type="hidden" name="state_id" :value="StateId">
        <input  type="hidden" name="city_id" :value="CityId">
    </div>
</template>

<script>
    export default {
        data() {
            return {

              Country: "",
              State: "",
              City: "",
              CountryId:"",
              StateId: "",
              CityId: "",
              CountriesObject: [],
              StatesObject: [],
              CityObject: [],
              Countries: this.getCountries(),
              States: [],
              Cities: [],
            }
        },

        watch:{
            Country: function(){
                if(!this.Country){return [];}
                
                let country = this.getCountryId();
                this.CountryId = country.id;
                this.loadStates(country);
            },
            State:function(){
                if(!this.State){return [];}
                
                let state = this.getStateId();
                this.StateId = state.id;
                this.loadCities(state);
            },

            City: function(){
                if(!this.City){return [];}
                let city = this.getCityId();
                console.log(city);
                this.CityId = city.id
            }
        },

        methods:{
  
            getCountries(){

              this.$http.get('/api/countries').then(response =>  {this.CountriesObject = response.data; this.setCountries(response.data);});

              return [];
            },  
            
            loadStates: function(country){
                if(!this.Country){return [];}
                
                this.$http.get('/api/states/'+country.id).then(response =>  {
                    
                    this.StatesObject = response.data;
                    this.setStates(response.data);
                 });
            }, 

            loadCities: function(state){
                if(!this.State){return [];}

                this.$http.get('/api/cities/'+state.id).then(response =>  {
                this.CitiesObject = response.data;
                this.setCities(response.data);
                });
            },

            setCountries(data){
                for(var i=0; i< data.length; i++){
                    this.Countries.push(data[i].name);
                }
            },

            setStates(data){
                this.States= [];
                this.State= "";
                for(var i=0; i< data.length; i++){
                    this.States.push(data[i].name);
                }
            },   

            setCities(data){
                this.Cities= [];
                this.City= "";
                for(var i=0; i< data.length; i++){
                    this.Cities.push(data[i].name);
                }
            },

            getCountryId: function(){

                return this.CountriesObject.filter(
                    country => {
                        if(country.name === this.Country){
                            return country.id;
                        }
                })[0];

            },
      
            getStateId: function(){

                return this.StatesObject.filter(
                    state => {
                        if(state.name === this.State){
                            return state.id;
                        }
                })[0];

            },

            getCityId: function(){

                return this.CitiesObject.filter(
                    city => {
                        if(city.name === this.City){
                            return city.id;
                        }
                })[0];

            },
      
            getData: function(url){
                var data = [];

                this.$http.get(url).then(response => data.push(response) );
                return data;
            }
        },
    }
</script>
